@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "jacksontadeu@hotmail.com";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Email"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
